<mat-card appearance="outlined">
    <mat-card-header>
        <p>Create Account</p>
    </mat-card-header>
    <mat-card-content>
        <label for="first-name">First Name:</label>
        <name-input/>
        <label for="last-name">Last Name:</label>
        <last-name-input/>
        <label for="email">Email:</label>
        <email-input/>
        <label for="password">Password:</label>
        <password-input/>
        <label for="datepicker">Date of Birth:</label>
        <br>
        <input-date/>
        <br>
        <label for="gender">Gender:</label>
        <br>
        <gender-input/>
        <br>
        <button-register/>
    </mat-card-content>
</mat-card>  