/* You can add global styles to this file, and also import other style files */
:root{color-scheme: light dark;}
html, body { height: 100%; }
body { margin: 0; 
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('./assets/image.png'); /* Ruta a tu imagen */
    background-size: cover; /* La imagen cubre todo el área disponible */
    background-position: center; /* La imagen está centrada */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen de fondo permanece fija cuando se desplaza */
}